/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
    background-color: blue;
}

#top td{
    font-size: 15px;
  }

#board td {
    width: 130px;
    height: 100px;
    border: solid 2px #f6f0f7;
    color: yellow;
    text-align: center;
    /* font-size: 10px; */
  }

.click {
    font-size: 10px;
}
